.A-section {
    background-image: url(../backgrounds/lucas-andrade-3Uj0GwVmOeY-unsplash.jpg);
    padding: 100px;
    height: 200px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.A-section > .top-heading {
    padding: 10px 20px;
    background-color: rgb(87, 51, 3);
    color: burlywood;
    width: fit-content;
    margin: 0 auto;
    border-radius: 2px;
}

.A-section > .Bottom-heading {
    padding: 10px 20px;
    margin: 15px auto 0 auto;
    width: fit-content;
    border-radius: 2px;
    background-color: white;
    color: burlywood;
}

.features-section {
    width: 100%;
    height: 500px;
    font-family: "Ubuntu Condensed", sans-serif;
    color: rgb(132, 79, 8);
    background-color: white;
    border-top: 15px solid burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
}

.features-section > .column-wrapper {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.Column {
    padding: 20px;
    text-align: center;
    border-bottom: 5px solid transparent;
    border-radius: 10px;
    transition: 1s;
    flex: 1;
}

.features-section > .column-wrapper > .Column:hover {
    border-bottom: 5px solid burlywood;
}

.features-section > .column-wrapper > .Column i {
    font-size: 3em;
    margin-bottom: 10px;
}

.Footer-section {
    width: 100%;
    height: auto;
    font-family: "Ubuntu Condensed", sans-serif;
    color: rgb(73, 43, 3);
    background-color: rgb(79, 49, 7);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 0;
}

.footer-image img {
    margin: 20px;
    height: 150px;
    width: 200px;
}

.in-touch-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.in-touch i {
    font-size: 1.05em;
    margin: 0 20px;
}

.link-wrapper {
    margin-top: 20px;
}

.nav-links {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}






























        










        








