.navigation-wrapper {
    height: 190px;
    background-color:    rgb(70, 49, 7);
    color: burlywood;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 100px;
}

.navigation-wrapper > .left-column {
    display: flex;
    align-items: center;
}

.left-column .icon {
    margin-right: 15px;
}

.left-column .icon i {
    font-size: 2em;
    color:burlywood;
}

.contacts-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
}

.contacts-wrapper .hours {
    font-family: 'Ubuntu Condensed', sans-serif;
    color: burlywood;
    margin-right: 15px;
    font-size: 0.8em;
}

.center-column {
    display: grid;
    grid-template-columns: 1fr;
    gap: 42px;
    width: 500px;
    text-align: center;
}

.center-column .banner-image {
    display: flex;
    justify-content: center;
}

.banner-image img {
    width: 200px;
    height: 100%;
}

.link-wrapper > .nav-links {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.link-wrapper > .nav-links > .nav-link {
    width: 70px;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.link-wrapper > .nav-links a {
    font-family: 'Ubuntu Condensed', sans-serif;
    color: burlywood;
    text-decoration: none;
    transition: 0.6s;
    font-size: 16px;
}

.link-wrapper > .nav-links a:hover {
    color: white;
    letter-spacing: 2px;
}


.navigation-wrapper>.right-column{
    display: flex;
    align-items: center;
}
.right-column>.contacts-icon{
    margin-left: 25px;
}

.right-column>.contacts-icon a{
    margin-left: 16px;
    color:burlywood;


}
.right-column>.contacts-icon a:hover{
    color:white;
    transition:0.5;

}
.right-column>.contacts-icon i{
    font-size: 2em;
    display: flex;
    align-items: right;
    
}


.right-column>.address-wrapper a{
    font-family: 'Ubuntu Condensed',sans-serif;
    color: burlywood;
    text-decoration: none;
    text-align: center;

}
.right-column>.address-wrapper a:hover{
    color:white;
    transition:0.5;
    

}
